<%= form_with(model: therapist) do |form| %>
  <% if therapist.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(therapist.errors.count, "error") %> prohibited this therapist from being saved:</h2>

      <ul>
        <% therapist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :numero_identificacion, style: "display: block" %>
    <%= form.number_field :numero_identificacion %>
  </div>

  <div>
    <%= form.label :nombres, style: "display: block" %>
    <%= form.text_field :nombres %>
  </div>

  <div>
    <%= form.label :apellidos, style: "display: block" %>
    <%= form.text_field :apellidos %>
  </div>

  <div>
    <%= form.label :telefono, style: "display: block" %>
    <%= form.number_field :telefono %>
  </div>

  <div>
    <%= form.label :correo_electronico, style: "display: block" %>
    <%= form.text_field :correo_electronico %>
  </div>

  <div>
    <%= form.label :contraseña, style: "display: block" %>
    <%= form.text_field :contraseña %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
