<div id="<%= dom_id therapist %>">
  <p>
    <strong>Numero identificacion:</strong>
    <%= therapist.numero_identificacion %>
  </p>

  <p>
    <strong>Nombres:</strong>
    <%= therapist.nombres %>
  </p>

  <p>
    <strong>Apellidos:</strong>
    <%= therapist.apellidos %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= therapist.telefono %>
  </p>

  <p>
    <strong>Correo electronico:</strong>
    <%= therapist.correo_electronico %>
  </p>

  <p>
    <strong>Contraseña:</strong>
    <%= therapist.contraseña %>
  </p>

</div>
