<div class="container">

<div id="<%= dom_id hoja_paciente %>">
  <p>
    <strong>Numero identificación paciente:</strong>
    <%= hoja_paciente.paciente.numero_identificacion %>
  </p>
  <p>
  <strong>Nombres:</strong>
  <%= hoja_paciente.paciente.nombres %>
</p>
<p>
  <strong>Apellidos:</strong>
  <%= hoja_paciente.paciente.apellidos %>
</p>
  <p>
    <strong>Fecha:</strong>
    <%= hoja_paciente.fecha %>
  </p>

  <p>
    <strong>Cif:</strong>
    <%= hoja_paciente.cif %>
  </p>

  <p>
    <strong>Objetivos terapeuticos:</strong>
    <%= hoja_paciente.objetivos_terapeuticos %>
  </p>

  <p>
    <strong>Duracion plan trabajo:</strong>
    <%= hoja_paciente.duracion_plan_trabajo %>
  </p>

  </div>
</div>